modelo_bow/*/** filter=lfs diff=lfs merge=lfs -text
modelo_bow/vocab/lookups_extra.bin filter=lfs diff=lfs merge=lfs -text
modelo_bow/vocab/strings.json filter=lfs diff=lfs merge=lfs -text
modelo_bow/vocab/vectors filter=lfs diff=lfs merge=lfs -text
modelo_bow/textcat/cfg filter=lfs diff=lfs merge=lfs -text
modelo_bow/textcat/model filter=lfs diff=lfs merge=lfs -text
modelo_bow/vocab/key2row filter=lfs diff=lfs merge=lfs -text
modelo_bow/vocab/lookups.bin filter=lfs diff=lfs merge=lfs -text
